<div class="container">
  <h1>Welcome to Javascript Racer!</h1>
  <p>Take a break, play a game!</p>

  <form action='/play' method='post'>
    <label> Player 1 </label>
    <input type='text' name='player1' placeholder="Player 1's nickname">
    <br>
    <label> Player 2 </label>
    <input type='text' name='player2' placeholder="Player 2's nickname">
    <br>
    <input type='submit' value="Let's play!">
  </form>

</div>
